body {
    background: #3aafa9;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: white;
    text-shadow: 2px .5px #17252a;
}

#textbox {
    width: 500px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 20px;
    padding-left: 70px;
}

#circle {
    border: solid 4px #fff;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#button {
    color: black;
    border: 2px solid #fff; 
    border-radius: 10%;
    width: 100px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-top: 36%;
    font-size: 18px;
  }

#fromRight{
    background: #17252a;
    position: absolute;
    width: 40%;
    height: 100vh;
    bottom: 0;
    right: 0;
    transform: scaleX(0);
    transform-origin: right;
    box-shadow: -10px 0px 10px 1px #17252a;  
}

img{
    width:100%;
    height:99.7vh;
    opacity: 0;
    transform: scaleX(0);
    transform-origin: right;
}

#header{
    width:300px;
    height:100px;
    font-size: 23px;
    color: white;
    text-align: center;
    border: solid 2px #fff;
    position: absolute;
    left: -9%;
    top:5%;
    transform: scale(0);
}

p{
    color: white;   
    font-size: 18px;
    text-shadow: 2px .5px #17252a;
    width:50%;
    top: 36%;
    right:30%;
    position: absolute;
    opacity: 0;
}